<div class="sidebar">



    <!-- {%for game_profile in game_profiles%}
    {%if game_profile.user == user%}
    <div class="gamer_profile">
        <p>{{game_profile.game}}</p>
        <p>{{game_profile.rank}}</p>
        <p>Location: {{game_profile.server}}</p>
    </div>
   
    {%endif%}
    {%endfor%} -->
    <div class="gamer-profile-sidebar">
        <!-- {%if main_game_profile %}
        MAIN PROFILE:
        {{main_game_profile.main_gamer_profile.game}}
        -{{main_game_profile.main_gamer_profile.server}}
        -{{main_game_profile.main_gamer_profile.rank}}
        {%endif%} -->
        <!-- 
        <br>
        <br> -->
        GAMER PROFILES
        <br>

        {% if user.is_authenticated %}
        {%if gamer_profiles%}


        <select class="gamer_profiles" id="gamer_profiles">
            {%for g in gamer_profiles%}
            {%if g.game == main_game_profile.main_gamer_profile.game%}
            <option value={{g.game}} selected="selected">{{g.game}}</option>
            {%else%}
            <option value={{g.game}}>{{g.game}}</option>
            {%endif%}
            {%endfor%}
        </select>

        {%endif%}

        <div class="gamer_profile_stats_section">
            {%include 'navigation/gamer_profile_stats.html' %}
        </div>

        <div class="matchmaking">
            <a href="{% url 'matchmaking-home' user%}">Matchmaking</a>
        </div>



        <a href="{% url 'create-gamer-profile' user.username %}">Create New Gamer Profile</a>
        {%if gamer_profiles %}
        <a href="{% url 'edit-gamer-profile' user.username %}">Edit Gamer Profile</a>
        {%endif%}
        {%endif%}
    </div>


    LAST VIEWED: {{ last_viewed }}<br />


    <hr>




    <br>
    <h2>What's happening</h2><br />
    <div class="article">
        <div class="article-category">News</div>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit, numquam?</p>
    </div>
    <div class="article">
        <div class="article-category">News</div>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit, numquam?</p>
    </div>
    <br />
    {% include 'community/communities_list.html' %}

</div>
<script>
    $(document).ready(function () {
        $("select.gamer_profiles").change(function () {
            var selected_gamer_profile = $(this).children("option:selected").text();
            user_name = $('.sidebar_username').text().replaceAll(' ', '');
            $.ajax({
                type: 'POST',
                url: `/get_gamer_profile_stats/${user_name}`,
                data: {
                    game: selected_gamer_profile,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function (response) {
                    console.log(response['gamer_profile_stats'])
                    $('.gamer_profile_stats_section').html(response['gamer_profile_stats']);
                }
            })
        });
    });
</script>