<div class="sidebar">

    {%for logo, url in game_logos.items%}
    {%endfor%}


    <div class="gamer-profile-sidebar">

        Profile
        <hr>
        <br>

        {% if user.is_authenticated %}
        {%if gamer_profiles%}


        <div class="gamer_profiles" id="gamer_profiles">
            {%for g in gamer_profiles%}
            {%if g.game == main_game_profile.main_gamer_profile.game%}
            <button id="gamer_profiles-btn" value="">
                <div>
                    {%for logo, url in game_logos.items%}
                    {%if g.game == logo %}
                    <img class="gamer_profiles-btn-img" src={{url}} alt="">
                    {%endif%}
                    {%endfor%}
                    <div class="gamer_profiles-btn-value">
                        {{g.game}}
                    </div>
                </div>
                <i class="fa-solid fa-angle-down"></i>
            </button>
            {%endif%}
            {%endfor%}
        </div>
        <div class="gamer_profiles_dropdown-container">
            <div class="gamer_profiles_dropdown">
                {%for g in gamer_profiles%}
                <button class="gamer_profiles_dropdown-btn">

                    {%for logo, url in game_logos.items%}
                    {%if g.game == logo %}
                    <!-- <img class="gamer_profiles-btn-img" src={{b}} alt=""> -->
                    <img src="{{url}}">

                    {%endif%}
                    {%endfor%}
                    <div class="gamer_profiles_dropdown-item">{{g.game}}</div>


                </button>

                {%endfor%}
            </div>
        </div>

        {%endif%}

        <div class="gamer_profile_stats_section">
            {%include 'gamerProfile/gamer_profile_stats.html' %}
        </div>
        <div class="page-links">
            <button class="page-link" onclick="location.href=`{% url 'matchmaking-home' user%}`">
                <a href="{% url 'matchmaking-home' user%}">

                    Matchmaking
                </a>
            </button>

            <button class="page-link" onclick="location.href=`{% url 'create-gamer-profile' user.username %}`">
                <a href="{% url 'create-gamer-profile' user.username %}">

                    Create New Gamer Profile
                </a>
            </button>

            {%if gamer_profiles %}
            <button class="page-link" onclick="location.href=`{% url 'edit-gamer-profile' user.username %}`">
                <a href="{% url 'edit-gamer-profile' user.username %}">

                    Edit Gamer Profile
                </a>
            </button>

            {%endif%}
        </div>
        {%endif%}
    </div>


    LAST VIEWED: {{ last_viewed }}<br />


    <hr>




    <br>
    <h2>What's happening</h2><br />
    <div class="article">
        <div class="article-category">News</div>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit, numquam?</p>
    </div>
    <div class="article">
        <div class="article-category">News</div>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit, numquam?</p>
    </div>
    <br />
    {% include 'community/communities_list.html' %}

</div>
<script>
    var selected_gamer_profile;
    $('.gamer_profiles_dropdown-container').css('display', 'none');

    $(document).ready(function () {
        document.getElementById("gamer_profiles-btn").addEventListener("click", Toggle_Dropdown_Display);
    });

    $('.gamer_profiles_dropdown-btn').click(function () {
        selected_gamer_profile = $(this).text().trim();

        user_name = $('.sidebar_username').text().replaceAll(' ', '');
        $.ajax({
            type: 'POST',
            url: `/get_gamer_profile_stats/${user_name}`,
            dataType: "json",
            data: {
                game: selected_gamer_profile,
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (response) {

                $('.gamer_profile_stats_section').html(response['gamer_profile_stats']);
                Toggle_Dropdown_Display();
                console.log(response['game_logo'])
                $('.gamer_profiles-btn-value').text($('.game_name').text());
                $('.gamer_profiles-btn-img').attr("src", response['game_logo']);

            }
        })
    });


    function Toggle_Dropdown_Display() {
        if ($('.gamer_profiles_dropdown-container').css('display') == 'flex') {
            $('.gamer_profiles_dropdown-container').css('display', 'none');
        }
        else $('.gamer_profiles_dropdown-container').css('display', 'flex');
    }
</script>