{% extends 'base/base.html' %}
{% load static %}
{% block title %}
Create Gamer Profile
{% endblock title %}

{% block content %}

{% load crispy_forms_tags %}
{% if user.is_authenticated %}
<div class="main-body">
    <div class="post">
        <div id="currentuser">{{user.username}}</div>
        <form action="" method="POST" enctype="multipart/form-data" id="gamerprofile_form">
            <h1>Edit your Gamer Profile!!</h1>
            {% csrf_token %}

            <div class="profile-item">
                <div> Select Gamer Profile to edit</div>
                <!-- <div class="game">{{form.game}}</div> -->
                <select name="game_to_edit" id="game_to_edit" class="game_to_edit">
                    {%for g in gamer_profiles%}
                    <option value={{g.game}}>{{g.game}}</option>
                    {%endfor%}
                </select>
            </div>
            <div class="profile-item">
                <div> Preferred Server</div>
                <select class="servers" form="gamerprofile_form"></select>
            </div>
            <div class="profile-item">
                <div> Current Rank</div>
                <select class="ranks" form="gamerprofile-form">Enter current rank</select>
            </div>
            <div class="profile-item">
                <label for="is_main"> Is this your main gamer profile</label><br>
                <input type="checkbox" id="is_main" name="is_main">
            </div>
            <button type="submit" name="submit-btn">Create</button>
            {{user.username}}

        </form>

        <input type="checkbox" name="is_post" id="is_post">Post it for your followers to see!
        <div class="post_form">
            <input type="text" name="post_body" id="post_body">
        </div>
    </div>
</div>
<!-- <form  action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        
    </form> -->

{% else %}
Login first!
{% endif %}

<script src="{% static 'PostIT/js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'PostIT/js/infinite.min.js'%}"></script>

<script>
    var pref_game = "";
    $(document).ready(function () {
        pref_game = $('.game_to_edit').find(":selected").text();
        get_saved_game_profile_data();
    });

    $(".post_form").hide();
    $("#is_post").click(function () {
        if ($(this).is(":checked")) {
            $(".post_form").show();
        }
        else {
            $(".post_form").hide();
        }
    })
    $('select.game_to_edit').change(function () {
        pref_game = $(this).children("option:selected").text();
        get_saved_game_profile_data();


    })

    function get_saved_game_profile_data() {
        $.ajax({
            type: 'GET',
            url: `/get_saved_gamerank_server/${pref_game}`,
            success: function (response) {
                console.log(response['saved_rank']);

                $('.servers').empty();
                for (let i = 0; i < response['servers'].length; i++) {
                    if (response['servers'][i][0] == response['saved_server'])
                        $('.servers').append(`<option selected="selected">${response['servers'][i][0]}</option>`)
                    else
                        $('.servers').append(`<option>${response['servers'][i][0]}</option>`)

                }

                $('.ranks').empty();
                for (let i = 0; i < response['ranks'].length; i++) {
                    if (response['ranks'][i][0] == response['saved_rank'])
                        $('.ranks').append(`<option selected="selected">${response['ranks'][i][0]}</option>`)
                    else
                        $('.ranks').append(`<option>${response['ranks'][i][0]}</option>`)
                }
            }
        })
    }
    let is_main = false;
    $('#is_main').click(function () {

        if ($(this).is(":checked")) {
            is_main = true;
        }
        else is_main = false;
        console.log(is_main);
    })

    $(document).on('submit', '#gamerprofile_form', function (e) {
        e.preventDefault();

        var user_name = $('#currentuser').text();
        console.log(user_name, pref_game);
        $.ajax({
            type: 'POST',
            url: `/create_gamer_profile/${user_name}`,
            data: {
                game: pref_game,
                rank: $('.ranks').val(),
                server: $('.servers').val(),
                body: $('#post_body').val(),
                is_main: is_main,
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (response) {
                console.log("Success");
            }
        })
    })

</script>


{% endblock content %}