<div>
    {% if user.is_authenticated %}
    {%for community in communities %}
    <a href="{% url 'community-page' community.id %}">{{community.id}}-{{ community }}</a>

    {% if community in joined_communities %}
    <button id="join-community-button" value="{{community.id}}">Joined</button>
    {% else %}
    <button id="join-community-button" value="{{community.id}}">Join</button>
    {% endif %}


    <br />
    {% endfor %}
    {% endif %}
    <!-- {%for joined_community in joined_communities %}

    {{joined_community.id}}
    {% endfor %} -->

</div>

<script>
    function updateCommunityButtonText(btn, buttonText) {
        //btn.element.innerHTML = "LIKED BY" + " " + no_of_likes + "lkl"
        //btn.text("LIKED BY" + " " + no_of_likes + " <h1>JLO</h1>")
        //elem = "<i class='fa-solid fa-heart'></i>"
        btn[0].innerHTML = buttonText
        console.log(btn[0].innerHTML)
    }

    $(document).on('click', '#join-community-button', function (e) {
        e.preventDefault();

        var this_ = $(this)
        community_id = this_.attr("value").valueOf()

        // var somevar = this_.attr()
        $.ajax({
            type: 'POST',
            url: '{% url "join_community" %}',
            data: {
                community_id: community_id,
                // postid: $('#like-button').val(),
                action: 'post',
                // postid: '{{ post.pk }}',
            },
            success: function (json) {

                // this.getElementById("like-button").innerHTML = json['result']
                // document.getElementsByTagName('{{post.id}}').innerHTML = json['result']

                // document.getElementById("like_count").innerHTML = json['result'];
                // no_of_likes = this_.attr("name").valueOf();
                buttonText = json['buttonText'];
                console.log(json)
                updateCommunityButtonText(this_, buttonText)
            },
            error: function (xhr, errmsg, err) {

            }
        });
    })

</script>